.terms {
	display: none;
	margin: 5px 0px;
	padding: 30px;
	width: 100%;
	border: 2px solid #00D5FF;
	background-color: #F0F3F3;
}

.tt {
	color: blue;
}

.tt:hover {
	border-bottom: 1px dashed;
	cursor: pointer;
}

hr {
	border-color: #00D5FF;
}

select,
input[type="text"],
input[type="password"],
input[type="date"],
textarea {
	box-sizing: border-box;
	width: 20%;
	padding: 2px;
	border-radius: 5px;
}

select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
	box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
	outline: none;
}

.my-text {
	color: black;
	font-style: italic;
}