{% extends "main/wrapper.html" %}
{% block content %}
<script type="text/javascript">

	if ("{{ message }}" != "") alert("{{ message }}")

</script>
<div class="container-fluid">
{% for list in projects %}
	{% for el in list %}
		{% if el == list.0 %}
			<h3>{{ el }}</h3>
		{% elif el != list.5 %}
			{{ el }}<br />
		{% endif %}
	{% endfor %}
	<br />
	<a href="{% url 'edit:edit_project_manager' %}?login={{login}}&status={{status}}&project_id={{list.5}}" class="btn btn-primary">Редактировать</a>
	<a href="{% url 'edit:delete_project' %}?login={{login}}&status={{status}}&project_id={{list.5}}" class="btn btn-danger">Удалить</a>
	<hr />
{% endfor %}
<p>
	<a href="{% url 'main:profile' %}?login={{login}}&status={{status}}" class="btn btn-link">Назад</a>
</p>
</div>
{% endblock %}